body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h3 {
    font-weight: bold;
    font-size: 20px;
}

label {
    font-size: 24px;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 20px 10px;
    background-color: lightsteelblue;
    border: 1px solid #aaa;
}

.button,
.button2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color: white;
    border: 1px solid #bbb;
}